@media (min-width: 1260px){
	.navbar-nav {
	    float: right;
	    margin: 0;
	}
}
.bx-panel{
	z-index: 2000;
    position: relative;
}
.map-boxed {height: 600px;}
.blog-pagination .bx_active a{color: #111 !important;}
.contacts-list {
	list-style: none;
	padding: 0;
}
.contacts-list i {font-size: 20px;    padding-right: 10px;}